{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "linebreak-style": 0,
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js"] }
    ]
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "parser": "babel-eslint"
}
